/* * {
    margin: 0;
    padding: 0;
} */

#app {
    display: grid;
    font-size: 8em;
    text-align: center;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "navbar navbar"
    "navbar navbar"
    "footie footie"
    "footie footie"
    ;
}

#navbar {
    grid-area: navbar;
}

#footer {
    grid-area: footie;
}