body {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
    display: grid;
    grid-template-areas:
    "navbar navbar"
    "tin factory"
    "footie footie";
}


header { 
    grid-area: navbar; 
}

nav a { 
    display: inline-block; 
}
#tin { 
    grid-area: tin; 
    min-height: 50px;
}

#factory { 
    grid-area: factory; 
    min-height: 50px; 
}

footer { 
    grid-area: footie; 
}

#tin, ul  { 
    list-style-type: none; 
    padding: 0; 
}

#factory, ul { 
    list-style-type: none; 
    padding: 0; 
}


input { 
    padding: 6px 12px; 
    border-radius: 5px; 
}

button { 
    padding: 6px 12px; 
    background: linear-gradient(cyan, navy); 
    color: white; 
    border-radius: 5px; 
}

@media screen and (max-width: 500px){
    body {
        grid-template-areas:
        "navbar"
        "tin"
        "factory"
        "footie";
    }
}